
@media screen and (max-width: 920px) {
  .row {
    display: block;
  }
  .leftcolumn, .rightcolumn {
    width: 100vw;
  }
  iframe {
    height: 70vh;
    width: 100%;
}
}

@media screen and (max-width: 767px) {
  #header {
      background: url(../media/moon_pixel_phone.jpg) no-repeat;
      background-size: cover;
      max-width: 100%;
      max-height: 100vh;
      background-attachment: fixed;
  }
  body {
    background: black;
  }
  .card {
    background: rgb(38, 38, 38);
  }
  .topnav {
    width: 100vw;
  }
  #home {
      display: none !important;
  }
  .welcome-message {
    width: 65%;
  }
}

/*Top nav Responsive Styles*/



