* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    /* transition: 0.2s ease-in-out; */
}
body {
    font-family: "Montserrat";
    text-rendering: optimizeLegibility !important;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased !important;
    overflow-x: hidden;
    background-color: rgb(157, 173, 157);
}
a {
    text-decoration: none;
}

/* Utility Classes */
.current {
    background-color: rgb(34, 97, 0)!important;
}
.red-bold {
    color: rgb(226, 0, 0);
}
.blue-bold {
    color: rgb(0, 166, 255);
}
.article {
    line-height: 1.5;
    text-align: justify;
}
.main-btn {
    color:black; 
    padding: 5px; 
    /* cursor: pointer; */
}
.center {
    text-align: center;
}

/* General Styling */
.row {
    display: flex;
    /* justify-content: space-evenly; */
}
.leftcolumn {   
    width: 40%;
    padding: 0 20px;

}
.rightcolumn {
    width: 60%;
    padding: 0 20px;
}

/* Styling titles/bookmarks */
.chp {
    display: inline-block;
    padding: 10px;
    margin-bottom: 60px;
    font-size: 20px;
    background-color: rgb(169, 0, 0);
    border: 5px outset;
}
#C2 .chp {
    background-color:rgb(34, 97, 0);
    color: whitesmoke;
    border: 5px inset;

}

/* Card effect for sections */
.card {
    border: solid rgba(255, 255, 255, 0.1);
    color: white;
    background-color: rgb(59, 47, 34);
    margin: 50px 0;
    padding: 80px 50px;

}
.card-sm {
    border: solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: white;
    background-color: rgb(59, 47, 34);
    margin: 25px;
    padding: 20px 0;

}
.inside-card {
    /* display: flex; */
    /* justify-content: center; */
    background-color: gray;
    border: 5px inset rgb(160, 160, 160);
    border-radius: 8px;    
    margin-top: 30px;
    padding: 1rem 0;
}

/* Styling for MY PROJECTS */
/* .flex-center {
    display: flex;
    justify-content: center;
} */
#projects {
    padding: 0 20px;
}
.prjt-gallery {
    /* border: solid red; */
    padding: 30px 0;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 2rem;
}

/* Styling for iFRAMES */
iframe {
    height: 80vh;
    width: 100%;
}
.link-btns {
    text-align: center;
    margin-top: 0.5rem;
    border-bottom: 4px #dddddd solid;
    padding-bottom: 20px;
}